@media(max-width:800px){
    .menu{
        flex-wrap: wrap;
    }
    .menu li{
        width: 50%;
    }
}

.menu {
    
    list-style: none;
    display: flex;
    margin: 0;
    padding:0;
    background-color: #333;
}

.menu li {
    display: flex;
    width: 100%;
    padding: 10px 50px;
    box-sizing: border-box;
    text-align: center;
    background-color: #333;
    transition : all 0.3s ease 0s;
}

.menu li:hover {
    text-decoration: none;
    text-align: center;
    background-color: #555;
    color: #fff;
    font-weight: bold;
}

.meun a:hover li {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

.menu a,a:visited li {
    text-decoration: none;
    color: #ccc;
    font-weight: bold;
}
