---
import './main.css';
const meun = [
  {
    name: "home",
    link: "/"
  },
  {
    name: "blog",
    link: "/blog"
  },
  {
    name: "test",
    link: "/test"
  },
]
---

<ul class="menu">
{meun.map((item) => <a href={item.link}><li>{item.name}</li></a>)}
</ul>