html {
  background-color: #f1f5f9;
  font-family: sans-serif;
}

body {
  margin: 0;
  width: 100%;
  line-height: 1.5;
}

.contents {
  margin: 20px;
}

.tags {
  list-style: none;
  display: flex;
  margin: 0;
  padding:0;
}

.tags li {
  display: flex;
  margin: 0px 2px;
  padding: 5px 15px;
  border-radius: 50px;
  box-sizing: border-box;
  font-size: 13px;
  text-align: center;
  background-color: #fff;
}



* {
  box-sizing: border-box;
}

h1 {
  margin: 1rem 0;
  font-size: 2.5rem;
}

a,a:visited {
  /* text-decoration: none; */
  color: #555;
  transition : all 0.3s ease 0s;
  padding:1px;
}

a:hover {
  color: #ddd;
}